body{
  width:100%;
}

.wrapper {
  margin: 20px;
  padding: 20px 20px 40px;
  background: rgba(0, 0, 0, 0.2);
}

.upcNum {
  display: block;
  margin: auto;
  width: 325px;
  max-width:100%;
  font-size:24px;
  font-weight:bold;
  text-align: center;
  border-style:inset;
  box-sizing: border-box;
}

input[type="submit"] {
  display: block;
  margin: auto;
  margin-top:10px;
  width: 325px;
  max-width:100%;
  font-size:24px;
  font-weight:bold;
}

.container1 {
  display: none;
  text-align: center;
  background: #fff;
  width: 350px;
  padding: 5px 5px 5px;
  margin: 10px auto 0;
  border: 0px;
  font-size: 24px;
  letter-spacing: 4px;
}

.container2 {
  display: none;
  text-align: center;
  background: #fff;
  width: 350px;
  padding: 5px 5px 0;
  margin: -15px auto;
  border: 0px;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: bold;
}

.char1 {
}
.char2 {
}
.char3 {
}
.char4 {
}
.char5 {
}
.char6 {
}
.char7 {
}
.char8 {
}
.char9 {
}
.char10 {
}
.char11 {
}
.char12 {
}

*:focus {
  outline: none;
}
#Btn:hover {
  cursor: pointer;
}

.sect {
  width: 31px;
  height: 84px;
  display: inline-block;
  background-repeat: repeat-y;
  margin-left: 2px;
  margin-right: 0;
  background-position: left top;
  background-size: contain;
}

.flex {
  display: flex;
  margin: 0 auto;
  width: 300px;
  padding: 0 20px 10px;
}

#barcode {
	display:none;
	margin: 5px auto;
	width:400px;
	height:182px;
	border-radius:18px;
	background:#fff;
}

html {
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  /*background: url("https://unsplash.it/1920/1080/?random");*/
}

body {
  width: 50%;
  margin: 0 auto;
}

p {
  width: 50%;
  margin: 10px auto;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 45px;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
  p {
    width: 75%;
  }
}
